/* ---------------------------------- */
        /* ESTILOS DEL HEADER */
/* ---------------------------------- */

header {
    background-color: rgba(0, 0, 0, 0.64);
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 150px;
    height: 150px;
}

/* ---------------------------------- */
        /* ESTILOS GENERALES */
/* ---------------------------------- */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    margin-top: 227px; /* Ajusta según la altura del header */
    padding: 20px;
    background-color: #ffffff;
}

/* ---------------------------------- */
        /* ESTILOS DEL MENÚ */
/* ---------------------------------- */

.menu {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 170px; /* Ajusta según la altura del header */
    left: 0;
    width: 100%;
    z-index: 1;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.menu li {
    padding: 15px 20px;
    color: #ffffff;
}

.menu li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.menu li:hover {
    background-color: rgba(118, 118, 118, 0.6);
    transition: 0.3s;
    transform: scale(1.05);
}

/* ---------------------------------- */
        /* ESTILOS DEL FOOTER */
/* ---------------------------------- */

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.ig-icon {
    width: 24px;
    height: 24px;
}
